In [1]:
import pandas as pd

In [2]:
#read in csv
csv_file_path = "Resources/mls-2023-UTC.csv"
mls_df = pd.read_csv(csv_file_path)
mls_df.head()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
0,1,1,25/02/2023 21:30,GEODIS Park,Nashville,New York City,2 - 0
1,2,1,26/02/2023 00:30,Mercedes-Benz Stadium,Atlanta,San Jose,2 - 1
2,3,1,26/02/2023 00:30,Bank of America Stadium,Charlotte,New England,0 - 1
3,4,1,26/02/2023 00:30,TQL Stadium,Cincinnati,Houston,2 - 1
4,5,1,26/02/2023 00:30,Audi Field,D.C.,Toronto,3 - 2

In [3]:
#Split date column into date and time
mls_df[['Date', 'Time']] = mls_df['Date'].str.split(pat=' ', n=1, expand=True)

mls_df.head()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result,Time
0,1,1,25/02/2023,GEODIS Park,Nashville,New York City,2 - 0,21:30
1,2,1,26/02/2023,Mercedes-Benz Stadium,Atlanta,San Jose,2 - 1,00:30
2,3,1,26/02/2023,Bank of America Stadium,Charlotte,New England,0 - 1,00:30
3,4,1,26/02/2023,TQL Stadium,Cincinnati,Houston,2 - 1,00:30
4,5,1,26/02/2023,Audi Field,D.C.,Toronto,3 - 2,00:30

In [4]:
#change date format
mls_df['Date'] = pd.to_datetime(mls_df['Date'], format='%d/%m/%Y')
mls_df['Date'] = mls_df['Date'].dt.strftime('%m/%d/%Y')
mls_df.head()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result,Time
0,1,1,02/25/2023,GEODIS Park,Nashville,New York City,2 - 0,21:30
1,2,1,02/26/2023,Mercedes-Benz Stadium,Atlanta,San Jose,2 - 1,00:30
2,3,1,02/26/2023,Bank of America Stadium,Charlotte,New England,0 - 1,00:30
3,4,1,02/26/2023,TQL Stadium,Cincinnati,Houston,2 - 1,00:30
4,5,1,02/26/2023,Audi Field,D.C.,Toronto,3 - 2,00:30

In [5]:
#changing time zone to central time zone (CST)
mls_df['Time'] = pd.to_datetime(mls_df['Time'], utc=True)
# Convert the time column to CST time zone
mls_df['CST Gametime'] = mls_df['Time'].dt.tz_convert('America/Chicago')

# Only show the time in 12 hr format
mls_df['CST Gametime'] = mls_df['CST Gametime'].apply(lambda x: x.strftime('%I:%M %p'))

# Print the DataFrame
mls_df.head()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result,Time,CST Gametime
0,1,1,02/25/2023,GEODIS Park,Nashville,New York City,2 - 0,2023-08-07 21:30:00+00:00,04:30 PM
1,2,1,02/26/2023,Mercedes-Benz Stadium,Atlanta,San Jose,2 - 1,2023-08-07 00:30:00+00:00,07:30 PM
2,3,1,02/26/2023,Bank of America Stadium,Charlotte,New England,0 - 1,2023-08-07 00:30:00+00:00,07:30 PM
3,4,1,02/26/2023,TQL Stadium,Cincinnati,Houston,2 - 1,2023-08-07 00:30:00+00:00,07:30 PM
4,5,1,02/26/2023,Audi Field,D.C.,Toronto,3 - 2,2023-08-07 00:30:00+00:00,07:30 PM

In [6]:
#Drop old time column
mls_df = mls_df.drop(columns=['Time'])
mls_df.head()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result,CST Gametime
0,1,1,02/25/2023,GEODIS Park,Nashville,New York City,2 - 0,04:30 PM
1,2,1,02/26/2023,Mercedes-Benz Stadium,Atlanta,San Jose,2 - 1,07:30 PM
2,3,1,02/26/2023,Bank of America Stadium,Charlotte,New England,0 - 1,07:30 PM
3,4,1,02/26/2023,TQL Stadium,Cincinnati,Houston,2 - 1,07:30 PM
4,5,1,02/26/2023,Audi Field,D.C.,Toronto,3 - 2,07:30 PM

In [7]:
#drop Match Number column
mls_df = mls_df.drop(columns=["Match Number"])
mls_df.head()

,Round Number,Date,Location,Home Team,Away Team,Result,CST Gametime
0,1,02/25/2023,GEODIS Park,Nashville,New York City,2 - 0,04:30 PM
1,1,02/26/2023,Mercedes-Benz Stadium,Atlanta,San Jose,2 - 1,07:30 PM
2,1,02/26/2023,Bank of America Stadium,Charlotte,New England,0 - 1,07:30 PM
3,1,02/26/2023,TQL Stadium,Cincinnati,Houston,2 - 1,07:30 PM
4,1,02/26/2023,Audi Field,D.C.,Toronto,3 - 2,07:30 PM

In [8]:
# Rename column
new_column_name = 'Week Number'
mls_df.rename(columns={'Round Number': new_column_name}, inplace=True)
mls_df.head()

,Week Number,Date,Location,Home Team,Away Team,Result,CST Gametime
0,1,02/25/2023,GEODIS Park,Nashville,New York City,2 - 0,04:30 PM
1,1,02/26/2023,Mercedes-Benz Stadium,Atlanta,San Jose,2 - 1,07:30 PM
2,1,02/26/2023,Bank of America Stadium,Charlotte,New England,0 - 1,07:30 PM
3,1,02/26/2023,TQL Stadium,Cincinnati,Houston,2 - 1,07:30 PM
4,1,02/26/2023,Audi Field,D.C.,Toronto,3 - 2,07:30 PM